body {
    font-family: Arial, sans-serif; /* Yazı tipi stili */
    background-color: rgb(233, 237, 245); /* Arka plan rengi */
    /* Genel iç boşluk */
}

.subcategory-container {
    display: flex;
    margin-top: 45px; /* Üstten boşluk */
    flex-wrap: wrap;
    gap: 20px; /* Kartlar arasında boşluk */
    justify-content: center; /* Kartları ortala */
}

.subcategory-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    width: 220px;
    background-color: rgb(201, 206, 214);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s; /* Geçiş efekti */
    cursor: pointer; /* Hover'da el simgesi */
}

    .subcategory-card h4 {
        margin: 0; /* Başlık için varsayılan marjı sıfırla */
        font-size: 18px; /* Başlık boyutu */
        color: #333; /* Başlık rengi */
        text-align: center; /* Başlığı ortala */
    }

    .subcategory-card:hover {
        transform: scale(1.5); /* Kartı büyüt */
        background-color: rgb(126, 128, 130); /* Hover'da arka plan rengi */
        box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.2); /* Hover'da gölgeyi artır */
    }

.no-subcategories {
    text-align: center; /* Mesajı ortala */
    color: #666; /* Mesaj rengi */
    font-size: 16px; /* Mesaj boyutu */
    margin-top: 20px; /* Mesaj üst boşluğu */
}
