/*#region ÜRÜNDETAYI */

/* Genel Stiller */
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    background-color: rgb(216, 224, 227); /* Genel arka plan rengi */
}

/* Container */
.container {
    margin-top: 30px;
    max-width: 1600px;
    width: 100%;
    padding: 20px;
    border-radius: 0px; /* Köşeler düz */
    box-shadow: none; /* Gölge kaldırıldı */
}

/* Card Layout */
.card-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    border-radius: 0px; /* Köşeler düz */
    border: none;
    box-shadow: none; /* Gölge kaldırıldı */
}

.card {
    border: unset black solid;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding: 15px;
    background-color: rgb(240, 247, 247);
    border-radius: 0px; /* Köşeler düz */
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 20px;
    padding-left: 20px;
    box-shadow: none; /* Gölge kaldırıldı */
}

/* Resim Stili */
.product-imgs {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(250, 248, 245);
    border-radius: 0; /* Köşeler düz */
    margin-left: 35px;
    margin-right: 50px;
    overflow: hidden; /* Taşmayı önlemek için */
}

.img-showcase {
    width: 100%; /* Kapsayıcı genişliği */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(250, 248, 245);
}

    .img-showcase img {
        width: 650px; /* Sabit genişlik */
        height: 650px; /* Sabit yükseklik */
        object-fit: cover; /* Resmi kapsayıcı boyuta göre kırpmak için */
        border-radius: 0; /* Köşeler düz */
    }

/* Ürün İçeriği */
.product-content {
    margin-left: 50px;
    flex: 2;
    padding: 20px;
    background-color: rgb(240, 247, 247);
    border-radius: 0px; /* Köşeler düz */
    box-shadow: none; /* Gölge kaldırıldı */
}

.product-title {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 4px; /* Başlık ile diğer içerikler arasında 3-4px boşluk */
    color: rgb(10, 10, 10);
}

.product-link {
    margin-top: 4px; /* Başlık ile diğer içerikler arasında 3-4px boşluk */
    font-weight: 500;
    font-size: 1.5rem;
    color: #007bff;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
    transition: transform 0.5s ease-in, color 0.5s ease-in;
}

    .product-link:hover {
        transform: scale(1.25); /* Hafif büyütme efekti */
        color: darkblue;
        text-decoration: none;
        font-weight: 600;
    }

.product-rating i {
    color: #ffc107;
    margin-top: 12px;
    margin-right: 5px;
}

.product-price {
    margin-top: 12px;
    font-size: 1.75rem;
    font-weight: 700;
    margin: 20px 0;
    color: black;
}

.product-detail h2 {
    margin-top: 15px;
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 15px;
    color: rgb(28, 28, 27);
}

.product-detail {
    max-height: 150px; /* Başlangıçta metni kısıtla */
    overflow: hidden; /* Taşan metni gizle */
    white-space: normal; /* Alt satırlara geçişi sağla */
    word-wrap: break-word;
    transition: max-height 0.3s ease; /* Kelimelerin düzgün bir şekilde alt satıra geçmesini sağlar */
}

    .product-detail.expand {
        max-height: 1000px; /* Devamını Oku butonuna tıklandığında metni tam göster */
    }

.read-more {
    display: block;
    margin-top: 10px;
    color: #007bff;
    cursor: pointer;
    text-decoration: underline;
    font-weight: 500;
}

.product-router ul {
    padding: 0;
    font-weight: 700;
    margin-bottom: 20px;
    list-style: none;
    color: rgb(28, 28, 27);
}

.product-router li {
    margin-bottom: 20px;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5;
    margin-top: 15px;
    color: rgb(28, 28, 27);
}

    .product-router li span {
        font-weight: 600;
        color: rgb(28, 28, 27);
        margin-bottom: 20px;
        color: #444;
    }

/* Buton Stilleri */
.purchase-info .btn {
    margin-top: 50px;
    background-color: #333;
    color: #fff;
    text-align: right;
    border: 1px solid #333;
    padding: 10px 25px;
    border-radius: 0px; /* Köşeler düz */
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    transition: background-color 0.3s, transform 0.2s;
    box-shadow: none; /* Gölge kaldırıldı */
}

    .purchase-info .btn:hover {
        background-color: revert;
        color: revert;
        transform: scale(1.5);
        transform: translateY(-3px);
    }

    .purchase-info .btn i {
        margin-left: 5px;
        font-size: 1.5rem;
    }

.purchase-info .form-control {
    color: black;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    border-color: black;
    border: 1px solid;
    font-size: 14px;
    padding: 8px 10px;
    border-radius: 5px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

    .purchase-info .form-control:focus {
        outline: none;
        border-color: #007bff;
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    }

/* Responsive için Medya Sorguları */

/* Tablet ve küçük ekranlar */
@media (max-width: 768px) {
    .card-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .product-imgs {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
        padding-bottom: 20px;
    }

    .product-content {
        margin-left: 0;
        margin-top: 10px;
    }

    .product-title {
        font-size: 2.5rem;
        margin-bottom: 3px; /* Başlık ve içerikler arasındaki boşluk */
    }

    .product-link {
        font-size: 1.2rem;
        margin-top: 3px; /* Başlık ve içerikler arasındaki boşluk */
    }

    .product-price {
        font-size: 1.5rem;
    }

    .product-detail h2 {
        font-size: 1.2rem;
    }

    .read-more {
        font-size: 1.2rem;
    }

    .purchase-info .btn {
        padding: 10px 20px;
        font-size: 1rem;
        justify-content: center; /* Butonu ortala */
    }

    .purchase-info .form-control {
        font-size: 16px;
        width: 50%;
    }
}

/* Mobil ekranlar */
@media (max-width: 480px) {
    .card {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .product-imgs {
        width: 100%;
        margin-top: 20px;
    }

    .img-showcase img {
        width: 100%;
        height: auto;
    }

    .product-content {
        margin-bottom: 0px;
        width: 100%;
        margin-top: 10px;
    }

    .product-title {
        font-size: 1.8rem;
        margin-bottom: 3px; /* Başlık ve içerikler arasındaki boşluk */
    }

    .product-price {
        font-size: 1.4rem;
    }

    .product-detail h2 {
        font-size: 1.3rem;
    }

    .product-detail.expand {
        max-height: 1000px;
    }

    .read-more {
        font-size: 1.1rem;
    }

    .purchase-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 100%; /* Sayfa yüksekliği kadar */
        margin-top: 0px;
    }

        .purchase-info .btn {
            justify-content: center;
            padding: 8px 20px;
            font-size: 0.9rem;
            margin: 10px 0;
        }

        .purchase-info .form-control {
            width: 80%;
            font-size: 14px;
            margin: 10px 0;
        }
}


/*#endregion */

/*#region ListProducts */


.custom-col {
    display: flex; /* Flexbox ile düzenleme */
    justify-content: center; /* Kartları ortalar */
    align-items: flex-start; /* Kartların üstte başlamasını sağlar */
    padding: 10px; /* Kartlar arası boşluk */
}

.product-card {
    width: 100%; /* Kartın genişliği, esnek olması için %100 yapıldı */
    max-width: 300px; /* Maksimum genişlik ayarı, istediğiniz boyuta göre ayarlayın */
    height: 550px; /* Kartın yüksekliği */
    margin: 0 auto;
}

.product-image {
    width: 100%; /* Kartın genişliğine uyum sağlar */
    height: 165px; /* Sabit resim yüksekliği */
    object-fit: cover; /* Resmi kutuya sığacak şekilde kırpar veya genişletir */
    object-position: center; /* Resmin ortalanmasını sağlar */
}
.card-title {
    margin-bottom: 5px; /* Başlık ve açıklama arasındaki boşluk */
}
/*#region Kaldırbunu */

.fa-cart-shopping {
    width: 20px; /* Sabit ikon genişliği */
    /* Sabit ikon yüksekliği */
    transition: transform 0.3s ease-in-out; /* Geçiş süresini kontrol et */
    padding: 0; /* Yanlış padding hatasını düzelttim */
    display: inline-block; /* İkonun çevresindeki alanı düzenle */
    align-items: center; /* Dikey olarak ortala */
    justify-content: center;
    vertical-align: middle; /* Dikey hizalamayı ortalar */
}

.btn-hover {
    position: relative; /* İkonun sabit durması için */
    display: inline-flex; /* İkonun ve metnin aynı hizada kalmasını sağla */
    align-items: center; /* Dikey olarak ortala */
    justify-content: center; /* Yatay olarak ortala */
    width: auto; /* Sabit genişlik ayarı isteğe bağlı */
    height: 50px; /* Sabit yükseklik */
    font-size: 15px;
    background-color: rgb(237, 233, 221); /* Normal durumdaki arka plan */
    color: black; /* Normal durumdaki yazı rengi */
    border: none; /* Kenar çizgisini kaldır */
    transition: background-color 0.3s ease, color 0.3s ease; /* Yumuşak geçiş efekti */
}

    .btn-hover:hover {
        margin-top: 0; /* Hover durumunda margin-top kullanılmamalı */
        font-weight: 500;
        font-size: 20px;
        background-color: rgb(224, 219, 202); /* Hover durumunda arka plan rengi */
        color: black; /* Hover durumunda yazı rengi */
    }

        .btn-hover:hover .fa-cart-shopping {
            transform: scale(1.1); /* Çok küçük bir büyüme sağla */
        }

.all_products {
    position: relative; /* Sabitleme yapar */
    top: 0; /* Üst kısmına hizalar */
    right: 0; /* Sağ kısmına hizalar */
    color: black;
    font-weight: bold;
    font-size: 20px;
    text-decoration: underline;
    margin: 0;
    transition: transform 0.3s ease; /* Yumuşak geçiş ekler */
}

    .all_products:hover {
        color: black;
        font-weight: bolder;
        text-decoration: none;
    }

.row {
    position: relative; /* .all_products öğesinin doğru konumlanabilmesi için row elementine relative ekleriz */
}


/*#endregion */

/*#endregion */
/*#region SizeButtons */
.size-option {
    margin: 2px; /* Butonlar arasındaki boşluk */
    padding: 10px 20px; /* Diğer butonlarla uyumlu iç dolgu */
    font-size: 15px; /* Yazı boyutu */
    font-weight: 500; /* Yazı kalınlığı */
    border-radius: 0; /* Köşeleri köşeli yap */
    border: 1px solid white; /* Varsayılan border rengi */
    background-color: rgb(237, 233, 221); /* Varsayılan arka plan rengi */
    color: black; /* Varsayılan yazı rengi */
    cursor: pointer; /* İşaretçi imleci */
    transition: all 0.3s ease-in-out; /* Geçiş efekti */
}

    .size-option:hover {
        background-color: white; /* Hover durumunda arka plan rengi */
        color: black; /* Hover durumunda yazı rengi */
        border: 2px solid black; /* Hover durumunda siyah border */
        transform: scale(1.05); /* Hover durumunda hafif büyüme efekti */
    }

    .size-option.selected {
        background-color: #007bff; /* Seçili buton arka plan rengi */
        color: white; /* Seçili buton yazı rengi */
        border: 2px solid #0056b3; /* Seçili buton border rengi */
    }

    .size-option:focus {
        outline: none; /* Odaklanma sırasında kenar çizgisi kaldırılır */
    }


/*#endregion */
/*#region Comment Section */


.comment {
    position: relative; /* Yalnızca kendi kapsayıcısında konumlandır */
    margin: 0 auto; /* Yatayda ortala */
    width: 400px; /* Kutunun genişliği */
    padding: 20px;
    background-color: white; /* Beyaz arka plan */
    border: 2px solid black; /* Keskin siyah kenar */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Hafif gölge */
    font-family: 'Open Sans', sans-serif; /* Modern yazı tipi */
    box-sizing: border-box;
}

/* Yorum yazma alanı */
textarea {
    width: 100%;
    height: 120px;
    padding: 10px;
    border: 2px solid black;
    font-size: 16px;
    margin-bottom: 15px;
    box-sizing: border-box;
    resize: none; /* Yeniden boyutlandırmayı kapat */
}

    textarea:focus {
        border-color: #007bff; /* Mavi odak rengi */
    }

/* Buton stili */
button {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    color: white;
    background-color: black;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}

    button:hover {
        background-color: #444; /* Hover efekti */
    }

/* Placeholder renkleri */
textarea::placeholder {
    color: #888;
}


/*#endregion */

/*#region ÜrünlerListesi */

/*#region Normal */
.product-card {
    width: 100%; /* Kartın genişliği, esnek olması için %100 yapıldı */
    max-width: 300px; /* Maksimum genişlik ayarı, istediğiniz boyuta göre ayarlayın */
    height: 550px; /* Kartın yüksekliği */
    margin: 0 auto;
}

.product-image {
    width: 100%; /* Kartın genişliğine uyum sağlar */
    height: 165px; /* Sabit resim yüksekliği */
    object-fit: cover; /* Resmi kutuya sığacak şekilde kırpar veya genişletir */
    object-position: center; /* Resmin ortalanmasını sağlar */
}

.card-title {
    margin-bottom: 5px; /* Başlık ve açıklama arasındaki boşluk */
}

.old-price {
    text-decoration: line-through;
    color: gray;
}

.discounted-price {
    color: red;
    font-weight: bold;
}


.fa-cart-shopping {
    width: 20px; /* Sabit ikon genişliği */
    /* Sabit ikon yüksekliği */
    transition: transform 0.3s ease-in-out; /* Geçiş süresini kontrol et */
    padding: 0; /* Yanlış padding hatasını düzelttim */
    display: inline-block; /* İkonun çevresindeki alanı düzenle */
    align-items: center; /* Dikey olarak ortala */
    justify-content: center;
    vertical-align: middle; /* Dikey hizalamayı ortalar */
}

.btn-hover {
    position: relative; /* İkonun sabit durması için */
    display: inline-flex; /* İkonun ve metnin aynı hizada kalmasını sağla */
    align-items: center; /* Dikey olarak ortala */
    justify-content: center; /* Yatay olarak ortala */
    width: auto; /* Sabit genişlik ayarı isteğe bağlı */
    height: 50px; /* Sabit yükseklik */
    font-size: 15px;
    background-color: rgb(237, 233, 221); /* Normal durumdaki arka plan */
    color: black; /* Normal durumdaki yazı rengi */
    border: none; /* Kenar çizgisini kaldır */
    transition: background-color 0.3s ease, color 0.3s ease; /* Yumuşak geçiş efekti */
}

    .btn-hover:hover {
        margin-top: 0; /* Hover durumunda margin-top kullanılmamalı */
        font-weight: 500;
        font-size: 20px;
        background-color: rgb(224, 219, 202); /* Hover durumunda arka plan rengi */
        color: black; /* Hover durumunda yazı rengi */
    }

        .btn-hover:hover .fa-cart-shopping {
            transform: scale(1.1); /* Çok küçük bir büyüme sağla */
        }

.all_products {
    position: relative; /* Sabitleme yapar */
    top: 0; /* Üst kısmına hizalar */
    right: 0; /* Sağ kısmına hizalar */
    color: black;
    font-weight: bold;
    font-size: 20px;
    text-decoration: underline;
    margin: 0;
    transition: transform 0.3s ease; /* Yumuşak geçiş ekler */
}

    .all_products:hover {
        color: black;
        font-weight: bolder;
        text-decoration: none;
    }

.row {
    position: relative; /* .all_products öğesinin doğru konumlanabilmesi için row elementine relative ekleriz */
}


/*#endregion */
/*#region Responsive */

@media (max-width: 980px) {

 
    /* Ürün Listesi Bölümü */


    .col-10 {
        width: 100%; /* Ürün başlığını tüm genişlikte kullan */
        margin-bottom: 20px; /* Alt boşluk */
    }

    /*.all_products {
        text-align: center;
        font-size: 14px;
        color: #007bff;
        cursor: pointer;
        margin-bottom: 20px;*/ /* Alt boşluk */
    /*}*/

    .product-card {
        font-size: 25px;
        max-width: 370px;
        width: 100%;
        border-radius: 8px; /* Kart köşeleri yuvarla */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Hafif gölge */
        margin-bottom: 10px; /* Alt boşluk */
    }

    .product-image {
        width: 100%; /* Resimler tüm kart alanını kapsar */
        height: 180px; /* Sabit yükseklik */
        object-fit: cover; /* Resmin kutuya uyumlu şekilde kesilmesi */
    }

    .card-body {
        padding: 10px; /* İç padding */
    }

    .card-title {
        font-size: 23px; /* Başlık font boyutunu küçült */
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .card-text {
        font-size: 17px; /* Fiyat yazısının font boyutunu küçült */
        color: black;
        font-weight: bolder; /* Fiyatı mavi renk yap */
    }

    .btn-primary {
        font-size: 12px; /* Buton boyutunu küçült */
        padding: 6px 12px; /* İç padding */
    }

    .fav-btn button {
        font-size: 12px; /* Favori butonunun font boyutu */
    }

    .form-control {
        width: 60px; /* Genişlik daraltıldı */
        font-size: 14px; /* Font boyutunu küçült */
    }

    .product-card h5, .product-card h6 {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

  
}

@media (max-width: 769px) {

    .product-image {
        width: 100%;
        height: 165px;
        object-fit: cover;
        object-position: center;
    }

    .product-card {
        margin-top: 5px;
        width: 100%;
        max-width: 370px;
        height: auto;
        margin: 0 auto;
    }

    .fav-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 5px;
        padding-bottom: 5px;
        transition: all 0.3s ease;
    }

        .fav-btn button:hover {
            transform: scale(1.1);
            background-color: #f0f0f0;
        }
}

@media (max-width: 322px) {

    .product-card {
        width: 100%;
        max-width: 280px; /* Kartın daha küçük olması için genişlik sınırını küçültüyoruz */
        height: 350px; /* Kartın yüksekliğini küçültüyoruz */
        margin: 10px auto;
    }

    .product-image {
        width: 100%;
        height: 90px; /* Resmin daha küçük olmasını sağlıyoruz */
        object-fit: cover;
        object-position: center;
    }

    .fav-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 3px;
    }

    /* Buton boyutlarını küçültme */
    .btn-hover {
        font-size: 10px; /* Buton fontunu daha küçük yapıyoruz */
        height: 30px; /* Butonun yüksekliğini küçültüyoruz */
        width: auto;
        padding: 5px 10px; /* Butonun yatay padding'ini küçültüyoruz */
        background-color: rgb(237, 233, 221);
        color: black;
        transition: background-color 0.3s ease, transform 0.3s ease;
    }

        .btn-hover:hover {
            background-color: rgb(224, 219, 202);
            transform: scale(1.1);
            color: black;
        }

    /* Sepete Ekle ve Favoriler butonlarının boyutları */
    .fav-btn button,
    .product-card .btn {
        font-size: 10px; /* Buton fontunu küçültüyoruz */
        height: 28px; /* Butonun boyutunu küçültüyoruz */
        padding: 5px 10px; /* Yatay padding'i azaltıyoruz */
    }

    /* Detaylar butonu */
    .product-card .btn-primary {
        font-size: 10px; /* Font boyutunu küçültüyoruz */
        height: 28px;
        padding: 5px 10px; /* Yatay padding */
    }

    /* Sepet Ekle butonu */
    .fav-btn button {
        font-size: 10px; /* Font boyutunu küçültüyoruz */
        height: 28px;
        padding: 5px 10px; /* Yatay padding */
    }

    .fa-cart-shopping, .fa-heart {
        font-size: 14px; /* İkonları küçültüyoruz */
    }

    /* Ürün sayısının düzenlendiği input ve butonları küçültme */
    .product-card form input[type="number"] {
        width: 50px; /* Input alanını daraltıyoruz */
        font-size: 12px; /* Font boyutunu küçültüyoruz */
        height: 25px; /* Input yüksekliğini küçültüyoruz */
        padding: 5px; /* Padding değeri küçültülüyor */
    }

    .product-card form button {
        font-size: 10px; /* Buton fontunu küçültüyoruz */
        height: 28px; /* Buton yüksekliğini küçültüyoruz */
        padding: 5px 10px; /* Yatay padding'i küçültüyoruz */
    }

    .fa-cart-shopping {
        font-size: 14px; /* Sepet ikonunu küçültüyoruz */
    }
}

@media(max-width:300px) {
    .product-card {
        margin-top: 5px;
        width: 100%; /* Kartın genişliği, esnek olması için %100 yapıldı */
        max-width: 370px; /* Maksimum genişlik ayarı, istediğiniz boyuta göre ayarlayın */
        height: 440px; /* Kartın yüksekliği */
        margin: 0 auto;
    }

    .fav-btn {
        display: flex;
        justify-content: center; /* Yatayda ortalar */
        align-items: center; /* Dikeyde ortalar */
        padding-top: 1px;
        padding-bottom: 1px;
    }


    .product-image {
        width: 100%; /* Kartın genişliğine uyum sağlar */
        height: 150px; /* Sabit resim yüksekliği */
        object-fit: cover; /* Resmi kutuya sığacak şekilde kırpar veya genişletir */
        object-position: center; /* Resmin ortalanmasını sağlar */
    }

}

@media (max-width: 240px) {
    .card-title {
        font-size: 13px;
        font-weight: bolder;
        text-transform: uppercase;
    }


    .product-card {
        height: 320px;
    }

        .btn-hover,
        .fav-btn button,
        .product-card .btn,
        .product-card .btn-primary {
            font-size: 8px; /* Yazı boyutunu daha da küçültüyoruz */
            height: 20px; /* Buton yüksekliğini daha kısa yapıyoruz */
            padding: 3px 8px; /* Yatay ve dikey padding değerlerini küçültüyoruz */
        }

    .fav-btn {
        padding: 2px; /* Buton çevresindeki boşluğu küçültüyoruz */
    }

    .fa-cart-shopping,
    .fa-heart {
        font-size: 10px; /* İkonların boyutunu daha da küçültüyoruz */
    }

    .product-card form input[type="number"] {
        width: 40px; /* Input alanını daha da daraltıyoruz */
        font-size: 10px; /* Input içindeki yazının boyutunu küçültüyoruz */
        height: 20px; /* Input yüksekliğini daha da küçültüyoruz */
        padding: 3px; /* İçerideki boşluğu azaltıyoruz */
    }

    .product-card form button {
        font-size: 8px; /* Buton yazı boyutunu küçültüyoruz */
        height: 20px; /* Buton yüksekliğini daha kısa yapıyoruz */
        padding: 3px 8px; /* Yatay padding'i küçültüyoruz */
    }

    .product-card {
        max-width: 200px; /* Ürün kartının genişliğini daha küçük yapıyoruz */
    }

    .product-image {
        height: 70px; /* Ürün resmini daha kısa yapıyoruz */
    }
}
/*#endregion */
/*#endregion */