.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* Kartlar arasındaki boşluk */
}

.product-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    width: 200px; /* Kart genişliği */
    text-align: center;
    transition: transform 0.2s;
}

    .product-card:hover {
        transform: scale(1.05); /* Hover efekt */
    }

.product-image {
    max-width: 100%;
    height: auto;
}
