@model IEnumerable<ECOMM.Core.Models.Product>
@{
    ViewData["Title"] = "Home Page";
    Layout = "/Views/Shared/_Layout.cshtml";
}


<section id="billboard" class="position-relative overflow-hidden" style="background-color: rgba(135, 206, 235, 0.5);">
    <div class="swiper main-swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="container">
                    <div class="row d-flex align-items-center">
                        <div class="col-md-6">
                            <div class="banner-content">
                                <h1 class="display-2 text-uppercase text-dark pb-5">Kategoriler</h1>
                                <a href="categories.html" class="btn btn-medium btn-dark text-uppercase btn-rounded-none">İncele</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="container">
                    <div class="row d-flex align-items-center">
                        <div class="col-md-6">
                            <div class="banner-content">
                                <h1 class="display-2 text-uppercase text-dark pb-5">Elektronik</h1>
                                <a href="electronics.html" class="btn btn-medium btn-dark text-uppercase btn-rounded-none">İncele</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="container">
                    <div class="row d-flex align-items-center">
                        <div class="col-md-6">
                            <div class="banner-content">
                                <h1 class="display-2 text-uppercase text-dark pb-5">Ev Eşyaları</h1>
                                <a href="home-appliances.html" class="btn btn-medium btn-dark text-uppercase btn-rounded-none">İncele</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="swiper-icon swiper-arrow swiper-arrow-prev">
        <svg class="chevron-left">
            <use xlink:href="#chevron-left"></use>
        </svg>
    </div>
    <div class="swiper-icon swiper-arrow swiper-arrow-next">
        <svg class="chevron-right">
            <use xlink:href="#chevron-right"></use>
        </svg>
    </div>
</section>










@section Css {
    #billboard {
        position: relative;
        overflow: hidden;
        background-color: rgba(135, 206, 235, 0.5); /* Koyu açık yeşil-mavi tonları */
        height: 450px; /* Yüksekliği ayarla */
    }

    .banner-content {
        color: #000; /* Yazı rengi */
        text-align: left; /* Yazı hizalaması */
    }

    .swiper {
        height: 100%; /* Yüksekliği tam ayarlama */
    }

    .swiper-slide {
        display: flex; /* Slaytları esnek hale getir */
        align-items: center; /* Dikey ortalama */
        justify-content: center; /* Yatay ortalama */
    }
}
@section Scripts {
    const swiper = new Swiper('.main-swiper', {
        loop: true, // Döngü
        autoplay: {
            delay: 4000, // Her 4 saniyede bir geçiş
            disableOnInteraction: false, // Kullanıcı etkileşimde olsa devam etsin
        },
        navigation: {
            nextEl: '.swiper-arrow-next',
            prevEl: '.swiper-arrow-prev',
        },
        direction: 'horizontal', // Yatay kaydırma
    });
}
