@model ECOMM.Core.ViewModels.ChangePasswordViewModel

@{
    ViewData["Title"] = "Şifre Değiştir";
}

<h2>Şifre Değiştir</h2>
<style>
    input[type="checkbox"] {
        width: 15px; /* Genişlik */
        height: 15px; /* Yükseklik */
    }
</style>
<form asp-action="ChangePassword" method="post">
    <div class="form-group">
        <label for="Email">E-posta Adresi</label>
        <input type="email" class="form-control" id="Email" name="Email" value="@Model?.Email" readonly required />
    </div>
    <div class="form-group">
        <label for="NewPassword">Yeni Şifre</label>
        <input type="password" class="form-control" id="NewPassword" name="NewPassword" required />
    </div>
    <div class="form-group">
        <label for="ConfirmNewPassword">Yeni Şifreyi Onayla</label>
        <input type="password" class="form-control" id="ConfirmNewPassword" name="ConfirmNewPassword" required />
    </div>

    <div>
        <input type="checkbox" onclick="togglePasswordVisibility()"> Şifreyi Göster
    </div>

    <button type="submit" class="btn btn-primary">Şifreyi Değiştir</button>
</form>

@section Scripts {
    <script>
        // Genel şifre gösterme fonksiyonu
        function togglePasswordVisibility() {
            // Yeni Şifre ve Yeni Şifreyi Onayla alanlarını seçiyoruz
            var newPassword = document.getElementById("NewPassword");
            var confirmNewPassword = document.getElementById("ConfirmNewPassword");

            // Checkbox durumuna göre her iki input'un tipini değiştiriyoruz
            if (newPassword.type === "password") {
                newPassword.type = "text";
                confirmNewPassword.type = "text";
            } else {
                newPassword.type = "password";
                confirmNewPassword.type = "password";
            }
        }
    </script>
}
