@using ECOMM.Core.ViewModels;
@model LoginViewModel;
@{
    ViewData["Title"] = "Login";
    Layout = "/Views/Shared/_AccountLayout.cshtml";
}

<link rel="stylesheet" href="~/css/Login/Login.css" />

<div class="session">
    <div class="left">
    
    </div>
    <div class="log-in">
        <h4>We are <span>NUVA</span></h4>
        <p>Welcome back! Log in to your account to view today's clients:</p>
        <form asp-action="Login" method="post" autocomplete="off">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="floating-label">
                <input asp-for="Email" placeholder="Email" class="form-control" required autocomplete="off" />
                <label asp-for="Email" class="form-label"></label>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="floating-label">
                <input asp-for="Password" type="password" placeholder="Password" class="form-control" required autocomplete="off" />
                <label asp-for="Password" class="form-label"></label>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-check mb-3">
                <label class="form-check-label">
                    <input asp-for="RememberMe" class="form-check-input" />
                    @Html.DisplayNameFor(a => a.RememberMe)
                </label>
            </div>
            <button type="submit" class="btn btn-primary w-100">Log in</button>
            <div class="text-center mt-2">
                <a asp-controller="Account" asp-action="Register" class="text-decoration-none">Create Account</a>
            </div>
        </form>
        <div class="text-center mt-3">
            <a asp-controller="Account" asp-action="VerifyEmail" class="text-decoration-none">Forgot Password?</a>
        </div>
    </div>
</div>
