<style >
/* Genel Gövde Yapısı */
body {
    margin: 0;
    display: flex;
    overflow-x: hidden;
}

/* Sidebar */
#sidebar {
    width: 250px;
    background: #343a40;
    color: #fff;
    transition: margin 0.3s;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

    #sidebar.active {
        margin-left: -250px;
    }

    #sidebar .sidebar-header {
        padding: 15px;
        background: #343a40;
        font-size: 1.25em;
    }

    #sidebar ul.components {
        padding: 0;
        margin: 0;
        list-style-type: none;
    }

    #sidebar ul li a {
        display: block;
        padding: 12px 20px;
        color: #fff;
        text-decoration: none;
        font-size: 1em;
        background: transparent;
        transition: background 0.3s, color 0.3s;
    }

        #sidebar ul li a:hover {
            color: #343a40;
            background: #fff;
        }

/* İçerik Alanı */
#content {
    margin-left: 250px;
    width: calc(100% - 250px);
    padding: 20px;
    transition: margin 0.3s, width 0.3s;
}

/* Sidebar Aç/Kapat Düğmesi */
#sidebarCollapse {
    background: #343a40;
    color: #fff;
    border: none;
}

</style >
